* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
  font-family: 'Ubuntu', sans-serif;
}

.team-padding{
padding-left: 30px;
padding-top: 15px;
padding-right: 15px;
padding-bottom: 15px;


}

.main {
  max-width: 1000px;
  margin: auto;
}

h2 {
  font-size: 30px;
  /* word-break: break-all; */
}

.footer {
left: 0;
bottom: 0;
width: 100%;
height: 40px;
background-color: black;
color: white;
text-align: center;
padding-top:10px;
font-size: 13px;
}

.row1 {
  margin: 8px -16px;
}

.row1, .row1>.column {
  padding: 8px;
}

.column_services {
  float: left;
  width: 33.3%;
  padding: 5px;
}

.row1:after {
  content: "";
  display: table;
  clear: both;
}

.content {
  /* background-color: #cce6ff; */
  padding: 10px;
  font-style: normal;
  font-weight: 600
}

.services:hover {
  background-color: red;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

* {
  box-sizing: border-box;
}

.header__container {
  width: 80%;
  margin: 0 auto;
}

.header {
  background: grey;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(../imgs/hero.jpg);
  background-size: cover;
  height: 100vh;
  font-family: 'Ubuntu', sans-serif;
}
.nav {
  padding-top: 30px;
  position: relative;
}
.nav h1 {
  float: left;
  color: white;
}
.nav .logo {
  width: 150px;
  border-radius: 50%;
  float: left;
}

.nav .nav-bar {
  float: right;
}

.nav .nav-bar li {
  display: inline-block;
  padding: 10px 20px;
  list-style: none;
  background: #4caf50;
  margin-left: 5px;
  margin-top: 20px;
  transition: color 2s, background 2s;
  border-radius: 5px;
}

.header__container h1 {
  font-size: 50px;
  text-transform: uppercase;
}

.header__container .period {
  color: #4caf50;
}
.header__container p {
  font-size: 26px;
  width: 60%;
  margin: 0 auto;
}

img:hover {
  opacity: 0.8;
}

img {
  border-style: solid;
  border-width: 1px;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
media screen and (max-width: 900px) {
  .column_services {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
  .column_services {
    width: 100%;
  }

}

.team h3{
  margin-top:40px;
}
.team p{
    margin-top:-40px;

<<<<<<< HEAD

}

=======
}

>>>>>>> a15974d5c84f92624ad929aa0181f3ff5e1b7a6f

#ptext {
  font-style: normal;
font-weight: 600;
}

#wrapper .text {
position:relative;
bottom:30px;
left:0px;
visibility:hidden;
}

#wrapper .text {
visibility:visible;

}
.center{
  text-align: center;
}

#wrapper .hover:hover {
opacity: 0.5;
}

.hover{
  border-radius: 50%;
}

.column {
    float: left;
    width: 25%;
    padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
/* .ContactUs__container form {
background-color: white ;

} */
@media screen and (max-width: 800px) {
    .column {
        width: 50%;
    }
}
@media screen and (max-width: 500px) {
    .column {
        width: 100%;
    }
}

/* contact */

.ContactUs__container input[type=text],.ContactUs__container input[type=email] ,.ContactUs__container textarea{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  border-radius: 10px;
}

.ContactUs__container input[type=text]:focus ,.ContactUs__container input[type=email]:focus ,.container textarea :focus{
  background-color: #ddd;
  outline: none;
}

.ContactUs__container h2 {
  text-align: center;
}

.ContactUs__container button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  font-size: 16px;
font-weight: bold;
border-radius: 10px;
}

.ContactUs__container {
  padding: 16px;
  max-width: 600px;
  margin: 0 auto;
}

.ContactUs__container button:hover {
  opacity:1;
}

.ContactUs__container legend{
font-weight: bold;
font-size: 20px;
padding: 5px;
}

.ContactUs__container label{
  font-weight: bold;
  border-radius: 5px ;
  padding-left: 15px;
}

.nav .nav-bar li:hover {
  color: green;
  background: black;
}


.nav .nav-bar li a {
  text-decoration: none;
  color: white;
}

.header .hero {
  color: white;
  margin-top: 15%;
  text-align: center;
}

.header__menu {
  display: none;
}
@media screen and (max-width: 730px) {
  .header__menu {
    float: right;
    margin-top: 20px;
    display: inline-block;
  }
  .header__menu svg {
      width: 32px;
      fill: #E0E0E0;
  }
  .nav-bar {
    display: none;
  }
  .open {
    display: inline-block;
  }
  .nav-bar {
    position: absolute;
    width: 400px;
    top:60px;
  }
  .nav .nav-bar li {
    display: block;
    margin:0;
    margin-top: 5px;
    padding: 10px 20px;
    border-radius: 0;

  }
}

.ContactUs__container fieldset{
  border-radius: 10px;
  padding: 20px;
  background-color: white;
}
