
/* #4caf50

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

* {
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: 0 auto;
}


header {
  background: grey;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(../imgs/hero.jpg);
  background-size: cover;
  height: 100vh;
}
nav {
  padding-top: 30px;
}
nav .logo {
  width: 150px;
  border-radius: 50%;
  float: left;
}

nav .nav-bar {
  float: right;
}

nav .nav-bar li {
  display: inline-block;
  padding: 10px 20px;
  list-style: none;
  background: #4caf50;
  margin-left: 5px;
  margin-top: 20px;
  transition: color 2s, background 2s;
  border-radius: 5px;
}

nav .nav-bar li:hover {
  color: green;
  background: black;
}


nav .nav-bar li a {
  text-decoration: none;
  color: white;
}

header .hero {
  color: white;
  margin-top: 15%;
  text-align: center;
}

header .hero h1 {

}
